.wrap {
  font-family: "Lora", serif;
}

.text {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  color: var(--color-light-variant);
  hyphens: none;

  @media screen and (min-width: 1200px) {
    max-width: 36em;
    font-size: 20px;
  }
}
