@import "styles/vars";

.backDrop {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.cart {
  z-index: 99;
  position: absolute;
  right: 0;
  max-width: 600px;
  padding: 40px 20px;

  background-color: var(--color-dark);
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.wrap {
  overflow: scroll;
  width: 100%;
  height: 84vh;
}

.title {
  margin-bottom: 30px;
  color: var(--color-light);
  font-weight: 400;
  font-size: 24px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.item img {
  width: 80px;
}

.itemTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
}

.itemDesc {
  margin-bottom: 10px;
  font-size: 14px;
}

.itemPrice {
  color: var(--color-accent);
  font-weight: 500;
}

.delete {
  color: var(--color-accent-variant);
  font-size: 30px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

.reset {
  padding: 4px 8px;
  border: 1px solid rgba(255, 70, 70, 0.5);
  border-radius: 4px;
  text-align: center;
  color: var(--color-accent-variant);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  @include Animation(box-shadow, color);

  &:hover,
  &:focus {
    box-shadow: rgba(241, 108, 108, 0.1) 0px 1px 0px,
      rgba(240, 75, 69, 0.2) 0px 0px 8px;
    color: var(--color-accent);
    border: 1px solid rgba(255, 70, 70, 0.9);
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
