@import "../../styles/vars.scss";

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;

  background: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 2rem;
  box-shadow: rgba(89, 37, 66, 0.15) 0px 15px 25px,
    rgba(89, 37, 66, 0.05) 0px 5px 10px;
  @include Animation(box-shadow);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px,
      rgba(0, 0, 0, 0.15) 0px 5px 10px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((1200px - (2 * 15px) - (2 * 32px)) / 3);
  }
}

.cardImage {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image {
  position: absolute;
  object-fit: contain;
  mix-blend-mode: darken;
}

.option {
  z-index: 3;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 6px;

  border-radius: 2px;
  background-color: #23854e;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  flex-grow: 2;
  margin: 1rem 0 1.5rem;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}

.priceList {
  display: flex;
  gap: 18px;
  margin-bottom: 1rem;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-light-variant);
}

.price > span {
  font-size: 16px;
}

.oldPrice {
  composes: price;

  color: var(--color-gray);
  text-decoration: line-through;
}
