.title {
  margin-bottom: 24px;
  font-size: 32px;
  text-align: center;

  text-shadow: -1px -1px 3px #5b5b5b, 2px 2px 4px #4d4d4d;
  color: #0f0f0f;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.textWrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;

  border-radius: 4px;
  background-color: rgb(180, 116, 92);
  box-shadow: rgba(115, 58, 45, 0.3) 0px 0px 0px 3px;
  text-align: center;
}

.textWrap p {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.3em;
  color: var(--color-dark);
}
